@font-face { font-family: "Oswald"; 
    src: url("font/Oswald/Oswald-Regular.ttf");
font-weight: 500; }

@font-face { font-family: "Oswald-light"; 
    src: url("font/Oswald/Oswald-ExtraLight.ttf");
font-weight: 200; }
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital@1&display=swap');

h1 {color:blue; font-family: 'Roboto', sams-serif; text-align: justify;}
h3 {font-family:"Roboto", sans-serif;}

#bio {color: blueviolet;}
#skills {color: brown;}

.tartalom {color : grey; font-size: 24px; font-family: 'Roboto'; 
    text-align: justify; line-height: 50px;
font-weight: lighter;}
.span1 { font-weight: bold;}
.kepdiv {background-color: lightblue;}
.light{background-color:red}
img {width:200px; margin:20px;}